<h1>Sign Up Below:</h1>

<!-- Our signup form needs fields for name, email, and password.
It needs to POST data to the '/registrations' path,
so your form action should be '/registrations' and your form method should be POST. -->

<form action="/registrations" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit">
</form>
